verilog_output/** linguist-generated
tree-sitter-sus/src/** linguist-generated
tree-sitter-sus/bindings/** linguist-generated
tree-sitter-sus/Makefile linguist-generated
tree-sitter-sus/package.json linguist-generated
tree-sitter-sus/*.wasm linguist-generated
tree-sitter-sus/Package.swift linguist-generated
tree-sitter-sus/pyproject.toml linguist-generated
tree-sitter-sus/setup.py linguist-generated
test.sus_output.txt linguist-generated
test.sus_errors.txt linguist-generated
test.sus_codegen.sv linguist-generated
